.marqueelo {
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  height: 100%;
}

.marquee-contentlo {
  display: flex;
  animation: scrolling  20s linear infinite ;
}

.marquee-itemlo {
  flex: 0 0 16vw;
  margin: 0 1vw;
  display: flex;
  width: 100%;
 
}


@keyframes scrolling {
  0% { transform: translateX(100%); }
  100% { transform: translatex(-100%); }

}

@media  (max-width: 900px) {
  .marquee-itemlo {
      display: flex;
      margin-top: 90px;
      margin: 7vw 2vw;
      width: 120px;
    
  }


  .marqueelo {
    overflow: hidden;
    white-space: nowrap;
    width: 400px;
    height: 200px;
  }

  .imagelo {
      width: 300px !important;
      height: 200px;
      max-width: 300px !important;
  }
 
}

@media (min-width: 900px ) and ( max-width: 1300px){
  .marquee-itemlo {
    display: flex;
    margin-top: 60px;
}
.imagelo {
    width: 300px !important;
    height: 200px;
    max-width: 300px !important;
}
}