

.marque {
    width: 1400px;
    height: 150px;
    overflow: hidden;
}
@media (max-width: 900px) {
    .marque {
        width: 800px;
        height: 200px;
        overflow: hidden;
        padding-top: 70px;
    }
}
/* @media screen and (min-width: 400px) {
    .marque {
        width: 400px;
        height: 150px;
        overflow: hidden;
        padding-top: 30px;
    }
} */
.marque-content {
  display: flex;
  margin: 0 10px;
  transition: all .2s ease-out;
  animation: scrolling 25s linear infinite;
}
@keyframes scrolling {
    0% { transform: translateX(100%); }
  100% { transform: translatex(-100%); }
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

