.header {
  font-family:  Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  padding: 1.5rem 8rem;
  justify-content: space-between;
  background-color: #080c18;
  color: white;
  width: auto;
  

  

}

.logo {
  width: 149px;
  margin: 0 1.6rem;
  

}

.navigation,
.nav-content {
  display: flex;
  list-style: none;

}

.nav-item {
  margin: 0 1.5rem 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 12px 0;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* min-width: 160px; */
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 50%;
  transform: translateX(-50%);
  background-color: whitesmoke;
  border-radius: 3px;
}

.dropdown:hover .dropdown-content {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  /* width: 100%; */
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.flex {
  display: flex;
}
.hambergur {
  display: none;
  font-size: 2rem;
  position: absolute;
  right: .75rem;
  top: 1rem;
  z-index: 1;
  cursor: pointer;
  color: white;
  background-color: #080c18;   

}
.logonew {
  width: 149px;
  margin: 0 1.6rem;
  display: none;
  left: .75rem;
  top: 1rem;
  background-color: #080c18;

}
.back {
  background-color: #080c18;
}

@media (max-width: 900px) {
  
   .header{
     display: none;
   }
   .logo {
     width: 50px;
   }
   .hambergur{
     display: flex;
     background-color: #080c18;
   }
   .logonew {
     display: flex;
     background-color: #080c18;
   }
}